node_modules/
dist/
build/
.vercel/
.turbo/

# Prisma client hasil generate
packages/api/generated/

# Environment
.env
.env.*
!.env.example

# Log & OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
